# Get from Yahoo Finance

In [1]:
import yfinance as yf
import finplot as fplt

df_yh = yf.download('TSLA',start='2019-01-01', end = '2020-04-29')
df_yh.head()

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close    Volume
Date
2019-01-02  61.220001  63.026001  59.759998  62.023998  62.023998  58293000
2019-01-03  61.400002  61.880001  59.476002  60.071999  60.071999  34826000
2019-01-04  61.200001  63.599998  60.546001  63.537998  63.537998  36970500
2019-01-07  64.344002  67.348000  63.549999  66.991997  66.991997  37756000
2019-01-08  68.391998  68.802002  65.403999  67.070000  67.070000  35042500

In [2]:
df_yh.loc['2019-01-02']

Open         6.122000e+01
High         6.302600e+01
Low          5.976000e+01
Close        6.202400e+01
Adj Close    6.202400e+01
Volume       5.829300e+07
Name: 2019-01-02 00:00:00, dtype: float64

In [3]:
df_yh.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 333 entries, 2019-01-02 to 2020-04-28
Data columns (total 6 columns):
Open         333 non-null float64
High         333 non-null float64
Low          333 non-null float64
Close        333 non-null float64
Adj Close    333 non-null float64
Volume       333 non-null int64
dtypes: float64(5), int64(1)
memory usage: 28.2 KB

In [4]:
df_yh.describe().T

,count,mean,std,min,25%,50%,75%,max
Open,333.0,7.184358e+01,3.464435e+01,3.622000e+01,4.795000e+01,5.858200e+01,8.235600e+01,1.847000e+02
High,333.0,7.368053e+01,3.625099e+01,3.733600e+01,4.879600e+01,5.949200e+01,8.509400e+01,1.937980e+02
Low,333.0,7.011655e+01,3.311459e+01,3.539800e+01,4.716000e+01,5.765800e+01,8.041600e+01,1.802040e+02
Close,333.0,7.197378e+01,3.469056e+01,3.579400e+01,4.812400e+01,5.836200e+01,8.384400e+01,1.834840e+02
Adj Close,333.0,7.197378e+01,3.469056e+01,3.579400e+01,4.812400e+01,5.836200e+01,8.384400e+01,1.834840e+02
Volume,333.0,5.924292e+07,3.817951e+07,1.232800e+07,3.287550e+07,4.721250e+07,7.392750e+07,3.046940e+08

In [5]:
fplt.candlestick_ochl(df_yh[['Open','Close','High','Low']])
fplt.plot(df_yh.Close.rolling(5).mean())
fplt.plot(df_yh.Close.rolling(10).mean())
fplt.show()

# Get from TUSHARE

In [6]:
import tushare as ts

# If you are interested in Chinese Stock Market, you can get stock price from TUCHARE by using code. 
# 300059 is for East Money Information Co., Ltd.

df_wdt=ts.get_hist_data('300059')

本接口即将停止更新，请尽快使用Pro版接口：https://waditu.com/document/2

In [7]:
df_wdt.head()

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
date,,,,,,,,,,,,,,
2021-05-14,30.90,34.89,34.40,30.86,4533814.50,3.90,12.79,31.202,31.348,30.607,1979787.77,1977243.71,2020360.86,6.36
2021-05-13,30.00,30.95,30.50,29.92,1140028.75,0.04,0.13,30.360,30.929,30.239,1395962.15,1829811.61,1858490.76,1.60
2021-05-12,30.20,30.53,30.46,30.00,1135110.12,-0.20,-0.65,30.520,30.981,30.056,1558313.30,1972567.19,1881764.11,1.59
2021-05-11,29.71,30.99,30.66,29.40,1713750.25,0.67,2.23,30.876,31.094,29.917,1676853.55,2111159.70,1878660.77,2.40
2021-05-10,30.15,30.30,29.99,29.52,1376235.25,-0.20,-0.66,31.142,31.079,29.789,1786423.55,2103118.68,1863903.95,1.93

In [8]:
df_wdt.info()

<class 'pandas.core.frame.DataFrame'>
Index: 607 entries, 2021-05-14 to 2018-11-14
Data columns (total 14 columns):
open            607 non-null float64
high            607 non-null float64
close           607 non-null float64
low             607 non-null float64
volume          607 non-null float64
price_change    607 non-null float64
p_change        607 non-null float64
ma5             607 non-null float64
ma10            607 non-null float64
ma20            607 non-null float64
v_ma5           607 non-null float64
v_ma10          607 non-null float64
v_ma20          607 non-null float64
turnover        607 non-null float64
dtypes: float64(14)
memory usage: 71.1+ KB

In [9]:
df_wdt.describe().T

,count,mean,std,min,25%,50%,75%,max
open,607.0,1.988990e+01,6.782427e+00,11.820,1.444000e+01,17.120,25.720,40.000
high,607.0,2.035585e+01,7.009121e+00,12.100,1.464500e+01,17.500,26.340,40.570
close,607.0,1.993946e+01,6.799573e+00,11.850,1.446500e+01,17.140,25.845,39.680
low,607.0,1.953567e+01,6.583236e+00,11.800,1.423500e+01,16.850,25.200,38.800
volume,607.0,2.396361e+06,1.344857e+06,184.000,1.435523e+06,2052589.250,3043291.750,8109633.500
price_change,607.0,4.441516e-02,7.266367e-01,-3.190,-2.600000e-01,0.020,0.300,5.150
p_change,607.0,2.700494e-01,3.165434e+00,-10.010,-1.565000e+00,0.120,1.690,15.590
ma5,607.0,1.987758e+01,6.741611e+00,11.994,1.440800e+01,17.090,25.793,38.616
ma10,607.0,1.980637e+01,6.681995e+00,12.254,1.448050e+01,17.055,25.659,38.046
ma20,607.0,1.966198e+01,6.552311e+00,12.489,1.446300e+01,16.986,25.192,37.092
v_ma5,607.0,2.393739e+06,1.149704e+06,667748.420,1.619265e+06,2112225.120,2962344.085,6318844.800
v_ma10,607.0,2.394218e+06,1.072643e+06,755400.150,1.675049e+06,2137888.390,2905185.965,6011894.350
v_ma20,607.0,2.389795e+06,9.771533e+05,784920.850,1.774765e+06,2146298.590,2869670.260,5429656.110
turnover,607.0,4.169918e+00,2.417373e+00,0.000,2.430000e+00,3.480,5.190,19.520